.online-store{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
 }
 .online-store-img-link{
    margin-bottom: 2rem;
 }
 .online-store-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    align-items: center;

 }
 @media(max-width:768px){
    .online-store-description{
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .online-store-b{
        width: 90%;
     }
    
 }
 .online-store-b{
    width: 80%;
 }

  


