.online-store{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
 }
 .online-store-img-link{
    margin-bottom: 1rem;
    padding-left:1rem;
    padding-right:1rem;
    align-self:center
 }
 .online-store-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    align-items: start;
    padding-left:1rem;
    padding-right:1rem;

 }
 .online-store-b{
    width: 80%;
 }
 @media(max-width:1024px){
    .online-store-description{
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .online-store-b{
        width: 90%;
     }
    
 }

  


