.page_elements {
    display: flex;
    justify-content: center;
}


.button-red {
    display: flex;
    background-color: rgba(216, 5, 22, 0.914);
    color: aliceblue;
    border-style: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;
    padding:14px 24px 14px 24px;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
}

.button-red:hover {
    background-color: rgb(172 0 13);
    cursor: pointer;
    animation-name: bounce;
    animation-duration: 300ms;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: all 300ms;
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;
    transform: scale(1);
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .button-red, a {
        width: 100%;
    }
}
