/* topbar style */

#topbar {
  height: var(--topbar-height);
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  position: relative;
  justify-content: space-between;
}

#topbar > .topbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#topbar > .topbar-right > ul.topbar-right-list {
  height: 100%;
  list-style-type: none;
  display: flex;
  gap: 1.75rem;
  align-items: center;
  padding: 0 1.25rem;
}

#topbar > .topbar-right > ul.topbar-right-list > li.topbar-right-list-item {
  display: flex;
  /* add icon gap */
}

#topbar > .topbar-right > ul.topbar-right-list > li.topbar-right-list-item > a {
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--gray);
  display: flex;
  align-items: center;

  transition: all 200ms ease-in-out;
}

#topbar
  > .topbar-right
  > ul.topbar-right-list
  > li.topbar-right-list-item
  > a:hover {
  color: var(--red);
}
#topbar
  > .topbar-right
  > ul.topbar-right-list
  > li.topbar-right-list-item
  > a
  > svg {
  margin-right: 0.375rem;
}
#topbar > .topbar-left > .topbar-left-logo {
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: var(--red);
}

#topbar > .topbar-left > form {
  height: 33px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  position: relative;
}
#topbar > .topbar-left > form select {
  background-color: transparent;
  appearance: none;
}
#topbar > .topbar-left > form select > option {
  background-color: transparent;
}

#topbar > .topbar-left > form > #search {
  background-color: transparent;
  width: 308px;
  height: 33px;
  border: none;
  transition: all 300ms ease-in-out;
  padding-left: 28px;
  position: relative;
  display: inline-block;
}

#topbar > .topbar-left > form::before {
  content: url(/assets/icons/topbar/search.svg);
  position: absolute;
  top: 10;
  left: 10;
  z-index: 100;
  width: 18px;
  height: 18px;
}

#topbar > .topbar-left > form:hover::before {
  filter: invert(7%) sepia(100%) saturate(5697%) hue-rotate(348deg)
    brightness(136%) contrast(116%);
}

#topbar > .topbar-left > form > #search:focus {
  outline: none;
}

#topbar > .topbar-left > form:has(#search:focus) {
  border-bottom: 1px solid var(--red);
}

#topbar > .topbar-left > form:hover {
  border-bottom: 1px solid var(--red);
}

#topbar > .topbar-left > form > #search:hover:not(:focus)::placeholder {
  transition: all 300ms ease-in-out;
  color: var(--red);
}
#topbar > .topbar-left > form > #search {
  font-family: inherit;
  font-weight: 300;
  font-size: 0.875rem;
}

.topbar-category {
  width: 140px;
  position: relative;
  height: 33px;
}

.topbar-category > svg {
  top: 10px;
  position: absolute;
  right: 10px;
  transition: all 300ms ease-in-out;
}

.topbar-category:hover > svg {
  color: var(--red);
}

.topbar-category > select:focus + svg {
  transform: rotate(180deg);
}

#topbar > .topbar-left > form select {
  font-family: inherit;
  font-weight: 700;
  width: 100%;
  font-size: 0.875rem;
  height: 33px;
  border-radius: 0;
  border: none;
  appearance: none;
  color: var(--gray);
  padding: 0.125rem 0.25rem 0.125rem 0.5rem;
  transition: all 300ms ease-in-out;
}

#topbar > .topbar-left > form select:hover {
  color: var(--red);
}

#topbar > .topbar-left > form select:focus {
  outline: none;
}

#topbar > .topbar-left > form select > option {
  font-family: "Open Sans", sans-serif;
  color: var(--gray);
  background-color: rgb(247, 247, 247);
  background-image: none;
  font-size: 0.75rem;
  height: 50px;
  padding: 15px;
  border: 1px solid rgb(41, 18, 18);
  appearance: none;
}

@media screen and (max-width: 1025px) {
  #nav {
    display: none;
  }
  #topbar {
    height: 46px;
  }
  #topbar > .topbar-left > form {
    display: none;
  }

  #topbar > .topbar-left {
    background-color: var(--red);
    width: 100%;
    justify-content: flex-start;
  }
  #topbar > .topbar-left > .topbar-left-logo {
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
  }
  #topbar > .topbar-left > .topbar-left-logo img {
    width: 89px;
  }
  #topbar > .topbar-right {
    display: none;
  }
}

/* Topbar Search Dropdown */

#topbar > .topbar-search-dropdown {
  position: absolute;
  top: calc(var(--topbar-height) - 1px);
  left: 0;
  width: 100%;
  padding: 0.75rem 7.5625rem 2.5rem;
  background-color: var(--white);
  z-index: 5;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  transition: all 200ms ease-in-out;
}

#topbar:has(.topbar-left > form > input#search:focus)
  > .topbar-search-dropdown {
  visibility: visible;
  height: 538px;
}

.topbar-search-dropdown-close {
  width: 1.5rem;
  height: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

#topbar:has(.topbar-left > form > input#search:focus)
  .topbar-search-dropdown-close {
  visibility: visible;
  opacity: 1;
}

#topbar:has(.topbar-left > form > input#search:focus) .topbar-right {
  visibility: hidden;
}

#topbar > .topbar-search-dropdown-close > img {
  width: 1.5rem;
  height: 1.5rem;
}

#topbar > .topbar-overlay {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  position: fixed;
  top: calc(var(--navbar-height) + var(--topbar-height));
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
#topbar:has(.topbar-left > form > input#search:focus) > .topbar-overlay {
  visibility: visible;
  opacity: 1;
}

#topbar > .topbar-search-dropdown > .topbar-search-dropdown-content {
  padding: 1rem 0px;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-links
  > p,
#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-links
  > ul {
  margin-bottom: 1.5rem;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-links
  > ul
  > li
  > a {
  color: var(--red);
  font-size: 1rem;
  font-weight: 700;
  height: calc(1.4em);
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  transition: color 200ms ease-in-out 25ms;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards {
  margin-bottom: 1.5rem;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: auto;
  margin-bottom: 1.5rem;
  grid-template-columns: repeat(2, minmax(auto, 343px));
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  color: rgb(72, 72, 72);
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a:hover
  .topbar-search-dropdown-card-content
  h3 {
  color: var(--red);
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-image {
  max-width: 8.8125rem;
  background-color: #000;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-image
  > img {
  max-width: 8.8125rem;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-image
  > img {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a:hover
  > .topbar-search-dropdown-card-image
  > img {
  opacity: 0.8;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  width: 100%;
  height: 100%;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-content
  > h3 {
  margin: 0px;
  font-size: 0.875rem;
  height: calc(2.8em);
  font-weight: 700;
  letter-spacing: 0px;
  transition: color 200ms ease-in-out 25ms;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-content
  > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-content
  > div
  > span:first-child {
  border-left: 2px solid var(--red);
  font-size: 0.875rem;
  font-weight: 300;
  height: 1rem;
  line-height: 1rem;
  padding-left: 0.375rem;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-content
  > div
  > span
  > button
  > svg {
  width: 2.125rem;
  height: 2.125rem;
}

#topbar
  > .topbar-search-dropdown
  > .topbar-search-dropdown-content
  > .topbar-search-dropdown-cards
  > .topbar-search-dropdown-cards-grid
  > .topbar-search-dropdown-card
  > a
  > .topbar-search-dropdown-card-content
  > div
  > span
  > button {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-right: 4px;
}
